# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

/ios

# Include Android manifest files
/android/*
!/android/app

/android/app/*
!/android/app/src

/android/app/src/*

!/android/app/src/main
!/android/app/src/debug

/android/app/src/main/*
!/android/app/src/main/AndroidManifest.xml
!/android/app/src/main/res/xml/nfc_tech_filter.xml
!/android/app/src/main/java

/android/app/src/debug/*
!/android/app/src/debug/AndroidManifest.xml
!/android/app/src/debug/res/xml/nfc_tech_filter.xml

.idea
