@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans:wght@400;500&display=swap');

html {
  /* dp to rem */
  font-size: calc(100vw / 375);
}

body {
  font-size: 12rem;
  font-family: 'Noto Sans JP', 'Noto Sans', sans-serif;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: linear-gradient(162deg, #FFF 0%, #E0E3E9 50.09%);
}
